<div ng-controller="RegisterCtrl">

    <div class="logo-main">
        <span>Open</span>
        <span>Qollo</span>
    </div>

    <div class="row margin-top-xxlarge">
        <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns end">
            <small class="error" ng-show="errors.server">{{errors.server}}</small>

            <div class="row qollo-input-row collapse" ng-class="errors.email? 'error' : ''">
                <div class="small-2 columns">
                    <div class="qollo-button" ng-class="errors.email ? 'error' : ''">
                        <i class="fi-mail"></i>
                    </div>
                </div>
                <div class="small-10 columns">
                    <input type="text" ng-model="user.email" placeholder="Email" required
                           maxlength="64"
                           focus-directive/>
                    <small class="error" ng-show="errors.email">{{errors.email}}</small>
                </div>
            </div>

            <div class="row qollo-input-row collapse" ng-class="errors.number ? 'error' : ''">
                <div class="small-2 columns">
                    <div class="qollo-button" ng-class="errors.number ? 'error' : ''">
                        <i class="fi-telephone"></i>
                    </div>
                </div>
                <div class="small-10 columns">
                    <input type="number" ng-model="user.number" placeholder="Number" required
                           maxlength="16"
                           focus-directive/>
                    <small class="error" ng-show="errors.number">{{errors.number}}</small>
                </div>
            </div>

            <div class="row qollo-input-row collapse" ng-class="errors.password ? 'error' : ''">
                <div class="small-2 columns">
                    <div class="qollo-button" ng-class="errors.password ? 'error' : ''">
                        <i class="fi-lock"></i>
                    </div>
                </div>
                <div class="small-10 columns">
                    <input type="password" ng-model="user.password" placeholder="Password" required
                           maxlength="64" focus-directive/>
                    <small class="error" ng-show="errors.password">{{errors.password}}</small>
                </div>
            </div>

            <div class="row qollo-input-row collapse" ng-class="errors.confirm ? 'error' : ''">
                <div class="small-2 columns">
                    <div class="qollo-button" ng-class="errors.confirm ? 'error' : ''">
                        <i class="fi-lock"></i>
                    </div>
                </div>
                <div class="small-10 columns">
                    <input type="password" ng-model="user.confirm" placeholder="Confirm" required
                           maxlength="64" focus-directive/>
                    <small class="error" ng-show="errors.confirm">{{errors.confirm}}</small>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <div class="qollo-button-main" ng-click="register()">Register</div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <ul class="link-list">
                        <li>
                            <a ui-sref="forgot">Forgot</a>
                        </li>
                        <li>
                            <a ui-sref="login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>